/*variables*/
@media (max-width: 230px) {
  .nav-menu-drop-logo {
    margin-top: 50px;
  }
  .nav-menu-drop-footer .nav-menu-drop-logo {
    margin-bottom: 0;
  }
}
@media (min-width: 320px) and (max-width: 635px) {
  .sendit-btn {
    min-width: 280px;
  }
  .header .header-wrap {
    background: linear-gradient(rgba(65, 240, 240, 0.5), rgba(233, 81, 16, 0.7)), url(../img/11_tel.jpeg);
    background-position: top right;
    background-repeat: no-repeat;
  }
  .header .header-h1 {
    text-align: center;
  }
  .header .header-h2 {
    visibility: hidden;
  }
  .nav {
    margin-bottom: 0px;
  }
  .nav .nav-menu-drop {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 100%;
    justify-content: flex-start;
  }
  .nav .nav-menu-drop h2 {
    display: block;
    color: black;
  }
  .callback-tel-wrap {
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
  }
  .nav-menu-drop-footer .nav-menu-drop-link {
    display: block;
    width: fit-content;
  }
  .nav-menu-drop-footer .nav-menu-form {
    margin-top: 10px;
  }
}
@media (max-width: 380px) {
  .nav-menu #burger-footer:checked ~ .burger-label-footer {
    top: 23px;
    right: 23px;
  }
}
@media screen and (max-width: 800px) {
  .pictures .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .pictures .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
@media (max-width: 320px) {
  .sendit-btn,
  .callback input[type=tel],
  .submit-btn,
  .faq-input,
  .faq-submit-btn {
    width: 100%;
  }
  .our-advantage .our-advantage-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .our-advantage .our-advantage-content .our-advantage-item-wrap {
    max-width: 86px;
  }
}
/*@media (min-width:@widthmobile) {
    .wrap {
        max-width: 480px;

    }

    .callback input[type=tel],
    .submit-btn {
        width: 280px;
    }
}*/
@media (min-width: 640px) and (max-width: 660px) {
  .drop-down-link {
    font-size: 16px;
  }
}
@media (max-width: 635px) {
  #burger:checked ~ .burger-label {
    width: 30px;
    height: 30px;
    z-index: 10;
    position: fixed;
    top: 20px;
    right: 20px;
  }
  #burger:checked ~ .burger-label span {
    display: block;
    height: 4px;
    background: #ffffff;
    transition: transform 0.3s ease 0s, background 0.3s ease 0s;
  }
  #burger:checked ~ .burger-label span:nth-child(2) {
    opacity: 0;
  }
  #burger:checked ~ .burger-label span:first-child {
    background: #363636;
    transform-origin: left bottom;
    transform: rotate(45deg) scaleX(1.2);
  }
  #burger:checked ~ .burger-label span:last-child {
    background: #363636;
    transform-origin: left top;
    transform: rotate(-45deg) scaleX(1.2);
  }
  #burger-footer:checked ~ .burger-label-footer {
    width: 30px;
    height: 30px;
    z-index: 10;
    position: fixed;
    top: 23px;
    right: 23px;
  }
  #burger-footer:checked ~ .burger-label-footer span {
    display: block;
    height: 4px;
    background-color: #ffffff;
    transition: transform 0.3s ease 0s, background 0.3s ease 0s;
  }
  #burger-footer:checked ~ .burger-label-footer span:nth-child(2) {
    opacity: 0;
  }
  #burger-footer:checked ~ .burger-label-footer span:first-child {
    background: #363636;
    transform-origin: left bottom;
    transform: rotate(45deg) scaleX(1.2);
  }
  #burger-footer:checked ~ .burger-label-footer span:last-child {
    background: #363636;
    transform-origin: left top;
    transform: rotate(-45deg) scaleX(1.2);
  }
  #burger:checked ~ .nav-menu-drop {
    transform: scaleY(1);
    min-height: 100%;
    position: fixed;
    text-align: center;
    justify-content: flex-start;
  }
  #burger:checked ~ .nav-menu-drop .column-menu .social-media {
    width: 280px;
    margin: 0 auto;
  }
  #burger:checked ~ .nav-menu-drop .column-menu:last-child {
    display: flex;
    flex-direction: column;
  }
  #burger-footer:checked ~ .nav-menu-drop-footer {
    transform: scaleY(1);
    display: flex;
    flex-direction: column-reverse;
    min-height: 100%;
    position: fixed;
    max-height: 100%;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
  }
  h2 {
    font-size: 28px;
  }
  .whoweare .whoweare-wrap .whoweare-picture {
    font-size: 80px;
  }
  .whoweare .whoweare-h2 {
    text-align: center;
  }
  .whoweare .whoweare-p {
    text-align: justify;
  }
}
@media (min-width: 640px) {
  h2 {
    font-size: 36px;
  }
  .wrap {
    padding: 0 34px;
    min-width: 100%;
  }
  .header .header-wrap {
    background: linear-gradient(rgba(65, 240, 240, 0.5), rgba(233, 81, 16, 0.7)), url(../img/11_tablet.jpeg);
    min-height: 413px;
    background-size: cover;
    background-position: center right;
  }
  .header .header-wrap .header-h1-wrap {
    align-items: flex-start;
  }
  .header .header-wrap .header-h1 {
    color: #ffffff;
    max-width: 400px;
    margin-top: 55px;
  }
  .header .header-wrap .header-h2 {
    color: #ffffff;
  }
  .nav {
    margin-bottom: 0;
  }
  .nav-menu {
    flex-grow: 0.9;
  }
  .nav-menu .burger-label {
    display: none;
  }
  .nav-menu .nav-menu-drop {
    transform: scaleY(1);
    background-color: inherit;
    position: relative;
    padding: 0;
  }
  .nav-menu .nav-menu-drop .drop-down-link:hover {
    text-shadow: 0.2px 0.2px 0px #ffffff, -0.2px -0.2px 0px #ffffff, -0.2px 0.2px 0px #ffffff, 0.2px -0.2px 0px #ffffff;
  }
  .nav-menu .nav-menu-drop-logo {
    display: none;
  }
  .nav-menu .drop-down {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    margin: 0;
    padding: 0;
  }
  .nav-menu .drop-down-link {
    color: #ffffff;
  }
  .nav-menu .drop-down-link:hover {
    text-shadow: 0.2px 0.2px 0px #000000, -0.2px -0.2px 0px #000000, -0.2px 0.2px 0px #000000, 0.2px -0.2px 0px #000000;
  }
  .nav-menu p {
    display: none;
  }
  .nav-menu .nav-menu-form {
    display: none;
  }
  .nav-menu .social-media {
    display: none;
  }
  .whoweare .whoweare-wrap {
    display: grid;
    grid-template-columns: 1fr 45%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 7%;
  }
  .whoweare .whoweare-wrap .whoweare-picture {
    grid-column: 1/1;
    grid-row: 1/4;
    font-size: 100px;
  }
  .whoweare .whoweare-h2 {
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 0;
    font-size: 36px;
  }
  .whoweare .whoweare-p {
    grid-column: 2;
    grid-row: 2;
    margin-bottom: 0;
    padding-right: 20px;
    font-size: 16px;
  }
  .whoweare.whoweare-sendit-btn {
    grid-column: 1;
    grid-row: 3;
  }
  .steps .steps-wrap {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-column-gap: 80px;
    padding-top: 38px;
  }
  .steps .steps-wrap .steps-item p {
    font-size: 16px;
  }
  .steps .steps-wrap .steps-item.step1 {
    grid-column: 1;
    grid-row: 1;
  }
  .order .order-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .order .order-h2 {
    font-size: 28px;
  }
  .callback .callback-wrap {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .callback .callback-wrap-h2-wrap {
    margin-right: 125px;
  }
  .feedback .feedback-h1 {
    font-size: 36px;
  }
  .feedback .feedback-slider .feedback-slider-content-column.content-column-item2 {
    display: grid;
  }
  .our-advantage .our-advantage-h2 {
    font-size: 36px;
  }
  .our-advantage .our-advantage-content {
    display: flex;
    justify-content: space-between;
  }
  .our-advantage .our-advantage-item-wrap {
    max-width: min-content;
  }
  .our-advantage .our-advantage-item {
    width: 13vw;
    height: 13vw;
  }
  .our-advantage .our-advantage-item-p {
    width: min-content;
    font-size: 12px;
    padding: 0;
    width: 100%;
  }
  .doubt .doubt-h1 {
    font-size: 36px;
  }
  .doubt .doubt-details .doubt-summary {
    min-height: 48px;
  }
  .doubt .doubt-details .doubt-summary::after {
    top: 40%;
  }
  .doubt .doubt-details .doubt-summary-p {
    font-size: 16px;
  }
  .doubt .doubt-details .doubt-details-p {
    font-size: 16px;
  }
  .partners .partners-wrap .partners-li:nth-child(n) {
    display: block;
  }
  .partners .partners-ul {
    flex-grow: 0.8;
    justify-content: space-around;
  }
  .nav-menu-form {
    min-width: 280px;
  }
  .footer .faq-wrap {
    padding-top: 33px;
  }
  .footer .faq-h2-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer .faq-h2 {
    font-size: 20px;
    width: 33%;
    display: flex;
    flex: 1;
  }
  .footer .faq-form-wrap {
    flex-direction: row;
  }
  .footer .faq-form-wrap p {
    padding-right: 20px;
  }
  .footer .nav-menu {
    flex-grow: 0.9;
  }
  .footer .burger-label-footer {
    display: none;
  }
  .footer .nav-menu-drop-footer {
    position: relative;
    transform: scaleY(1);
    background-color: inherit;
    padding: 0;
  }
  .footer .drop-down {
    justify-content: space-between;
  }
  .footer .drop-down-link {
    color: #000000;
    font-size: 14px;
  }
  .footer .copy {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer .copy .social-media {
    display: flex;
    justify-content: space-around;
    margin: 0;
    width: 30%;
  }
  .footer .copy .social-media a {
    min-width: 1.3vw;
    min-height: 1.3vw;
  }
  .footer .copy p {
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  .wrap {
    padding: 0 140px;
  }
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 36px;
  }
  .sendit-btn,
  .callback-input {
    min-width: 360px;
  }
  .header .header-wrap {
    background: linear-gradient(rgba(65, 240, 240, 0.5), rgba(233, 81, 16, 0.7)), url(../img/11.jpeg);
    min-height: 525px;
    background-size: cover;
    background-position: center right;
    padding-top: 30px;
  }
  .header .header-wrap .header-h1 {
    max-width: 100%;
    margin-top: 0;
    padding-bottom: 22px;
    padding-top: 88px;
  }
  .header .header-wrap .header-h2 {
    padding-bottom: 35px;
  }
  .header .nav-menu {
    flex-grow: 0.8;
  }
  .whoweare .whoweare-wrap {
    grid-template-columns: 1fr 45%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 7%;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .whoweare .whoweare-picture {
    grid-column: 1/1;
    grid-row: 1/4;
    font-size: 125px;
  }
  .whoweare img {
    margin: 0;
  }
  .whoweare .whoweare-h2 {
    grid-column: 2;
    grid-row: 1/2;
  }
  .whoweare .whoweare-p {
    grid-column: 2;
    grid-row: 2/3;
    font-size: 16px;
    line-height: 19px;
  }
  .whoweare .whoweare-sendit-btn {
    grid-column: 2;
    grid-row: 3/4;
  }
  .steps .steps-wrap {
    padding-top: 69px;
  }
  .steps .steps-wrap .steps-item h2 {
    font-size: 30px;
  }
  .steps .steps-wrap .steps-item p {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 50px;
  }
  .order .order-wrap {
    min-height: 180px;
  }
  .order .order-h2 {
    font-size: 36px;
  }
  .callback .callback-wrap {
    align-items: flex-start;
    padding-top: 73px;
    padding-bottom: 39px;
  }
  .callback .callback-h1 {
    font-size: 48px;
  }
  .callback .callback-p {
    font-size: 24px;
    line-height: 23px;
  }
  .callback .callback-form {
    align-items: flex-start;
    min-width: 360px;
  }
  .feedback .feedback-wrap {
    padding-top: 69px;
  }
  .feedback .feedback-slider {
    margin-top: 45px;
    margin-bottom: 57px;
  }
  .feedback .feedback-slider .feedback-slider-content-column {
    grid-template-rows: 160px 1fr;
    width: 40%;
    max-width: 460px;
  }
  .feedback .feedback-slider .feedback-slider-content-column span {
    font-size: 16px;
  }
  .feedback .feedback-slider .feedback-slider-content-column .customer-info-h2 {
    font-size: 36px;
  }
  .feedback .feedback-slider .feedback-slider-content-column .customer-info-p {
    font-size: 20px;
  }
  .feedback .feedback-slider .feedback-slider-content-column .feedback-text {
    font-size: 16px;
    line-height: 19px;
  }
  .our-advantage .our-advantage-wrap {
    padding-bottom: 100px;
    padding-top: 100px;
  }
  .our-advantage .our-advantage-h2 {
    margin-bottom: 25px;
  }
  .our-advantage .our-advantage-item-p {
    font-size: 18px;
  }
  .gallery .gallery-wrap {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .prices .prices-wrap {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .prices .prices-wrap h2 {
    margin-bottom: 25px;
  }
  .contacts .contacts-wrap {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .doubt .doubt-wrap {
    padding-top: 65px;
    padding-bottom: 60px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .doubt .doubt-h1 {
    width: 100%;
  }
  .doubt .doubt-details {
    margin: 10px 0;
    width: 49%;
  }
  .nav-menu-form {
    min-width: 360px;
  }
  .footer .faq-h2 {
    font-size: 30px;
  }
  .footer .faq-form-wrap {
    display: flex;
    flex: 2;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .footer .faq-form-wrap p {
    width: 45%;
  }
  .footer .drop-down-link {
    font-size: 18px;
  }
  .footer .copy p {
    font-size: 16px;
  }
  .footer .copy a {
    min-width: 1.4vw;
    min-height: 1.4vw;
  }
}
@media (max-height: 466px) and (orientation: portrait) {
  .nav-menu #burger-footer:checked ~ .burger-label-footer {
    top: auto;
    bottom: 60px;
  }
  .nav-menu-drop-footer p {
    padding-bottom: 0px;
  }
  .nav-menu-drop-footer .nav-menu-drop-link {
    display: none;
  }
  .nav .nav-menu-drop h2 {
    display: none;
  }
  .nav .nav-menu-drop p {
    padding-bottom: 0px;
  }
}
