@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Semibold';
    src: url('../fonts/MyriadPro-Semibold.eot');
    src: local('☺'), url('../fonts/MyriadPro-Semibold.woff') format('woff'), url('../fonts/MyriadPro-Semibold.ttf') format('truetype'), url('../fonts/MyriadPro-Semibold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Black';
    src: url('../fonts/MyriadPro-Black.eot');
    src: local('☺'), url('../fonts/MyriadPro-Black.woff') format('woff'), url('../fonts/MyriadPro-Black.ttf') format('truetype'), url('../fonts/MyriadPro-Black.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Light';
    src: url('../fonts/MyriadPro-Light.eot');
    src: local('☺'), url('../fonts/MyriadPro-Light.woff') format('woff'), url('../fonts/MyriadPro-Light.ttf') format('truetype'), url('../fonts/MyriadPro-Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*variables*/
@widthmobile: 320px;
@widthtablet: 768px;
@font-light: MyriadPro-Light;
@font-regular: MyriadPro-Regular;
@font-semibold: MyriadPro-Semibold;
@font-black: MyriadPro-Black;
@orange: rgb(233, 81, 16);
@gray: gray;
@light-grey: #F7F7F7;
@blue: #008DCD;
@yellow: #FFCC00;
@white: #FFFFFf;
@light-blue: #D2ECF7;
@grey: #E9E9E9;











/*mixin*/
.center-flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* animation */


@keyframes fade {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;

    }
}


/*global*/
h1 {
    font-family: @font-black;
    font-size: 32px;
    color: @light-grey;
}

h2 {
    font-family: @font-semibold;
    font-size: 28px;
    color: @light-grey;
}

h3 {
    font-family: @font-semibold;
    font-size: 20px;
}

p {

    font-family: @font-regular;
}

/* .blur {
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
} */




.sendit-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 30px;
    background: @gray;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: @font-semibold;
    padding: 16px 30px 13px 0px;
    max-width: 280px;
    width: 100%;
    font-size: 16px;


    &:hover {
        box-shadow: 0px 4px 15px 0px @gray;
    }

    &:active {
        background: @orange;


    }
}

.disabled {
    opacity: 0.3;
    transition: 0.4s;

    &:hover {
        box-shadow: none;
    }
}

._error {
    box-shadow: 0px 4px 15px 0px rgb(255, 0, 0);
}




button {
    transition: 0.4s;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    //    transition: 0.3s;


}

body {
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

summary::-webkit-details-marker {
    display: none;
}

.clearfix {
    clear: both;
}

.wrap {
    margin: 0 auto;
    padding: 0px 20px 0 20px;

}

.header {
    .header-wrap {
        //        background-image: url(../img/bg1%203.png);
        background-color: @orange;
        background: linear-gradient(rgba(65, 240, 240, 0.5), rgba(233, 81, 16, 0.7)), url(../img/11.jpg);
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        position: relative;

        .header-sendit-btn {
            margin-bottom: 27px;


        }

        .header-h1-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .header-h1 {
            padding-top: 21px;
            padding-bottom: 8px;
        }

        .header-h2 {
            padding-bottom: 17px;

        }

    }
}


.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: calc(20%*4);
    align-items: center;
}

.logo {
    &:hover {}
}

img {}

.nav-menu {


    display: flex;


    .burger-label,
    .burger-label-footer {
        display: flex;
        width: 40px;
        height: 29px;
        flex-direction: column;
        justify-content: space-between;


        span {
            display: block;
            height: 4px;
            background: @orange;
            transition: all 0.3s ease 0.2s;

            //            transition: transform 0.3s ease 0s, background 0.3s ease 0.5s, opacity ;

        }


    }

    .burger-label {
        span {
            background: white;


        }
    }

    #burger {
        display: none;

    }

    #burger-footer {
        display: none;

    }



}

.nav-menu-drop {
    padding: 13px 21px 30px;
    display: block;
    position: absolute;
    transform: scaleY(0);
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 5;
    width: 100%;
    transform-origin: top;
    transition-duration: 0.3s;

    h2 {
        display: none;
    }

    .drop-down-link:hover {}

    .nav-menu-drop-logo {
        margin-bottom: 10px;
        max-height: 48px;
        max-width: 160px;
    }

    & p {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 10px;
        padding-top: 10px;
        max-width: 280px;
        margin: 0 auto;
        text-align: center;
    }

    .nav-menu-form {
        margin: 0 auto;
    }
}

.nav-menu-drop-footer {
    padding: 13px 21px 30px;
    display: block;
    position: absolute;
    transform: scaleY(0);
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    z-index: 5;
    width: 100%;
    transform-origin: bottom;
    transition: 0.3s;


    .nav-menu-drop-link {
        display: none;
        color: black;
        font-family: @font-semibold;
        font-size: 28px;
    }

    .nav-menu-drop-logo {
        margin-bottom: 38px;
        max-height: 48px;
        max-width: 160px;
    }

    & p {
        font-size: 18px;
        line-height: 22px;
        padding-bottom: 10px;
        padding-top: 10px;
        max-width: 280px;
        margin: 0 auto;
        text-align: center;

    }

    .social-media {
        margin-top: 24px;
        margin-bottom: 24px;
        display: flex;
        justify-content: space-between;
    }

    .nav-menu-form {
        margin: 0 auto;
    }
}

.drop-down {
    display: block;

}

.drop-down-li {
    margin-bottom: 10px;
    margin-top: 10px;

}

.drop-down-link {
    font-size: 17px;
    color: #000000;
    font-family: @font-light;
    transition: 0.4s;

    &:hover {
        text-shadow: 0.2px 0.2px 0px #000000, -0.2px -0.2px 0px #000000, -0.2px 0.2px 0px #000000, 0.2px -0.2px 0px #000000;
    }
}

span {}

.nav-menu-form {
    display: flex;
    justify-content: center;

    & #nav-menu-tel-footer,
    & #nav-menu-tel {
        border: 1px solid #363636;
        border-radius: 30px;
        color: #363636;
        padding: 12px 23px 10px;
        margin-bottom: 10px;

        &::placeholder {
            color: #363636;

        }
    }

    #nav-menu-callback {
        background-color: @blue;
        border-radius: 30px;
        text-transform: uppercase;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 12px 0 9px;
        font-family: @font-regular;
        font-size: 16px;
        margin-bottom: 10px;
        max-width: 100%;

        &:hover {
            box-shadow: 0px 4px 15px 0px rgba(27, 170, 235, 0.45);


        }
    }

    #nav-menu-callback-footer {
        background-color: @blue;
        border-radius: 30px;
        text-transform: uppercase;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 12px 0 9px;
        font-family: @font-regular;
        font-size: 16px;
        margin-bottom: 10px;
        max-width: 100%;

        &:hover {
            box-shadow: 0px 4px 15px 0px rgba(27, 170, 235, 0.45);


        }
    }

    & label {
        display: flex;
        color: #9E9E9E;
        /*font-size: 10px;*/
        font-family: @font-light;
    }
}

#tel {}

#callback {}

#nav-menu-personal-data {
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

#nav-menu-personal-data-footer {
    min-width: 10px;
    min-height: 10px;
    margin-right: 10px;
}

label {}

.social-media {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;

    a {
        .center-flex();
        color: #ffffff;
        background: @orange;
        border-radius: 50%;
        min-width: 38px;
        min-height: 38px;

        &:hover {}
    }
}

.callback-tel {
    font-family: MyriadPro-Light;
    .center-flex();
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 1;
    transition: 0.6s ease-in-out;



}


.callback-tel-wrap {
    display: flex;
    align-items: center;
    font-family: 'MyriadPro-Light';
    color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    opacity: 1;
    min-width: fit-content;
    flex-direction: column;

}

.loading {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 52%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;

    .fa-caravan {
        font-size: 50px;
        animation: fade 3s infinite cubic-bezier(0.4, 0, 1, 1);
    }
}

.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    justify-content: space-evenly;
    z-index: 1;

    .warning {
        position: relative;
        height: 40px;
        width: 100%;

        span {
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
            text-align: center;
            width: 100%;
            transition: 0.4s;
        }
    }
}

.close {
    color: white;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translate(-50%, -50%);

    .far {
        &:hover {
            color: @gray;
        }

        &:active {
            color: @orange;

        }
    }

}

.server-warning {
    width: 100%;
    display: flex;
    text-align: center;
    position: absolute;
    z-index: -100;
    opacity: 1;
    transition: 0.5s;

    div {
        position: absolute;
        transform: translate(50%, 50%);
        top: 50%;
        right: 50%;
        width: fit-content;
        transition: 0.5s;
    }
}


.callback-input-wrap {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    width: 100%;

    // &::before {
    //     content: "Ваш телефон";
    //     width: 50%;
    //     height: 0%;
    //     color: black;
    //     z-index: 1;
    //     position: absolute;
    // }
}

.callback-input {
    border-radius: 30px;
    background: #FFFFFF;
    color: gray;
    font-family: MyriadPro-Light;
    padding: 10px 30px;
    border: 1px solid #FFFFFF;
    width: 100%;
    font-size: 18px;
    max-width: 280px;


    &:hover {
        box-shadow: 0px 4px 20px 0px rgba(255, 204, 0, 0.55);
    }

    &:active {
        background: rgba(252, 227, 156, 1);


    }



}



.feedback-slider-arrow-btn {
    font-size: 20px;
    color: #C4C4C4;
    padding-top: 15px;
    background-color: inherit;
    cursor: pointer;

}


.whoweare {
    .whoweare-wrap {
        background: #F7F7F7;
        padding-bottom: 17px;
        padding-top: 17px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .whoweare-picture {
            width: 100%;
            .center-flex();
        }

    }

    img {
        margin-bottom: 25px;
        max-width: max-content;
        width: 100%;
    }

    h2 {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;
        text-align: start;
        display: block;
        width: 100%;
        line-height: 38px;
        color: @gray;
    }

    p {
        font-size: 12px;
        line-height: 14px;
        font-family: @font-regular;
        margin-bottom: 12px;
    }

    .header-sendit-btn {
        margin-bottom: 17px;
    }
}

.steps {
    .steps-wrap {
        display: flex;
        flex-direction: column;
        padding-bottom: 27px;
        padding-top: 27px;
        color: @gray;

        h2 {
            color: @gray;

        }


        &+p {
            font-size: 14px;
            line-height: 17px;

        }

        .steps-item {
            display: flex;
            flex-direction: column;


            p {
                font-size: 14px;
                line-height: 17px;

                span {
                    background: gray;
                    color: white;
                    border-radius: 10px;
                    padding: 0 10px;
                    cursor: pointer;
                }


            }

            .whoweare-picture {
                .center-flex();
            }

            img {
                max-width: max-content;
                width: 100%;
            }

            &.step1 {}

            img {}
        }

        .steps-item {
            &.step2 {}

            img {}
        }

        .steps-item {
            &.step3 {}

            img {}
        }

        .steps-item {
            &.step4 {}

            img {}
        }
    }

    .step1-h2 {
        padding-top: 27px;
        padding-bottom: 8px;
    }

    .step1-p {
        margin-bottom: 32px;
    }

    .step2-h2 {
        margin-top: 28px;
        margin-bottom: 6px;
    }

    .step2-p {
        margin-bottom: 38px;
    }

    .step3-h2 {
        margin-top: 21px;
        margin-bottom: 6px;

    }

    .step3-p {
        margin-bottom: 20px;
    }

    .step4-h2 {
        margin-top: 30px;
        margin-bottom: 6px;
    }

    .step4-p {}
}

.order {
    .order-wrap {
        background: @orange;
        padding-bottom: 23px;
        padding-top: 23px;
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    .order-h2 {
        font-size: 24px;
        margin-bottom: 9px;
        color: @light-grey;
    }

    .sendit-btn {
        &.order-sendit-btn {}
    }
}

.callback {
    .callback-wrap {
        background: #008DCD;
        display: flex;
        flex-direction: column;
        padding-bottom: 7px;
        padding-top: 32px;
        color: #FFFFFF;
        align-items: center;


    }

    .callback-h1 {
        font-size: 28px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 11px;
    }

    .callback-p {
        font-size: 14px;
        line-height: 13px;
        margin-bottom: 14px;

    }

    .callback-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 280px;
    }

    input[type=tel] {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-radius: 30px;
        background: #008DCD;
        color: #FFFFFF;
        font-family: @font-light;
        padding: 16px 24px 13px 24px;
        border: 1px solid #FFFFFF;
        margin-bottom: 9px;
        width: 100%;

        &::placeholder {
            color: #FFFFFF;
            font-size: 16px;
            font-family: @font-light;
        }
    }

    .submit-btn {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        border-radius: 30px;
        background: #FFCC00;
        width: 100%;
        color: #363636;
        font-family: @font-semibold;
        font-size: 16px;
        text-transform: uppercase;
        padding: 16px 24px 13px 24px;
        margin-bottom: 9px;

        &:hover {
            box-shadow: 0px 4px 20px 0px rgba(255, 204, 0, 0.55);
        }

        &:active {
            background: rgba(252, 227, 156, 1);


        }

        &.callback-submit-btn {}
    }


    label {
        display: flex;
        font-size: 10px;
        font-family: @font-light;
        color: #FFFFFF;

    }

    #personal-data {
        margin-left: 8px;
        margin-right: 8px;
        width: 10px;
        height: 10px;
    }
}

.feedback {
    form * {
        outline: none;
    }

    .feedback-wrap {
        padding-bottom: 21px;
        padding-top: 21px;
        display: flex;
        flex-direction: column;


    }

    .feedback-form-preview {
        display: none;
    }

    .feedback-form-preview:checked~.feedback-write-form {
        height: 650px;
        overflow: revert;
        opacity: 1;

    }

    .feedback-form-preview:checked+.feedback-form-open::after {
        transform: rotate(180deg);
    }

    .feedback-form-open {
        color: @orange;
        .center-flex();
        cursor: pointer;
        margin: 0 auto;
        font-family: @font-regular;
        text-align: center;
        font-size: 20px;

        &::after {
            display: inline-flex;
            transition: 0.4s ease;
            content: "\f13a";
            font-family: "Font Awesome 5 Free";
            font-weight: 900;
            color: @orange;
            padding: 0 5px;
        }
    }

    .feedback-write-form {
        position: relative;
        transform-origin: top;
        transition: height 1s ease, opacity 1s ease-in-out;
        font-family: @font-regular;
        margin: 0 auto;
        color: gray;
        height: 0px;
        overflow: hidden;
        opacity: 0;



        &::after {
            content: "";
            .center-flex();
            color: @orange;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(255, 255, 255, 0.5) url(../img/5.gif) center / 50px no-repeat;
            opacity: 0;
            visibility: hidden;
            transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
        }



        .feedback-write-form-item {
            position: relative;
            display: flex;
            flex-direction: column;
            margin: 10px 0px;

            .form-label {
                display: inline-flex;
                margin: 0px 0px 10px 0px;

            }

            span {}



            .form-input {
                max-width: 550px;
                min-height: 30px;
                border-radius: 70px;
                border: 1px gray solid;
                margin: 0px 0px 10px 0px;
                padding: 20px;
                font-family: @font-regular;
                color: gray;
                transition: 0.3s ease;
                font-size: 20px;

                &:focus {
                    background-color: @light-grey;
                    border: 1px @orange solid;
                }



            }

            textarea.form-input {
                min-height: 100px;
                resize: vertical;
                padding: 20px;

            }

            .errors {
                position: absolute;
                background-color: aliceblue;
                padding: 3px;
                font-size: 14px;
                border-radius: 5px;
                text-align: center;
                z-index: 1;

            }

            .invisible {
                transition: 0.5s ease-in-out;
            }
        }

        #userName {
            &.form-input {}
        }

        #userEmail {
            &.form-input {}
        }

        #userMessage {}

        #userFile {
            &.form-input {}
        }

        .file-item {
            position: relative;

            .form-input-file {
                position: absolute;
                top: 0px;
                left: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                font-size: 0px;
                cursor: pointer;
            }

            .file-name {
                margin-left: 20px;
            }
        }

        .file-button {
            display: inline-flex;
            min-width: 60px;
            min-height: 30px;
            background: gray;
            color: white;
            padding: 0 20px;
            border-radius: 20px;
            align-items: center;
        }



        .checkbox {
            p {
                margin-bottom: 10px;
            }

            .errors {
                position: absolute;
                background-color: aliceblue;
                padding: 3px;
                font-size: 14px;
                border-radius: 5px;
                text-align: center;
                z-index: 1;

            }

            display: flex;
            flex-direction: column;

            .checkbox-input:checked+.form-label::after {
                transform: scale(1);
            }

            .checkbox-input {
                display: none;
            }

            .form-label {
                display: inline-flex;
                position: relative;
                margin-bottom: 5px;

                &::before {
                    content: '';
                    flex: 0 0 20px;
                    align-self: flex-start;
                    height: 20px;
                    background-color: gray;
                    border-radius: 50%;
                    margin: 0px 10px 0px 0px;
                }

                &::after {
                    position: absolute;
                    transition: 0.4s ease 0s;
                    content: '';
                    top: 5px;
                    left: 5px;
                    height: 10px;
                    width: 10px;
                    background-color: white;
                    border-radius: 50%;
                    transform: scale(0);



                }
            }

            span {}
        }



    }

    .feedback-write-form._sending::after {
        opacity: 1;
        visibility: visible;
    }

    .feedback-write-form._sent::after {
        content: "Ваш отзыв отправлен. После обработки он появится на сайте. Большое спасибо!";
        .center-flex();
        font-size: 20px;
        font-weight: 700;
        color: @orange;
        background: rgba(255, 255, 255, 0.9);
        // transition: opacity 0.4s ease-in-out, visibility 0.4s ease-in-out;
        opacity: 1;
        visibility: visible;
    }

    .feedback-write {
        .sendit-btn {
            &.header-sendit-btn {}
        }
    }

    .feedback-write {
        display: flex;
        justify-content: flex-end;
        align-items: center;


    }

    .feedback-h1 {
        font-size: 28px;
        line-height: 34px;
        color: gray;
        margin-bottom: 15px;

    }

    .feedback-slider {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }




    .feedback-slider-content-column {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 1fr;
        grid-row-gap: 15px;
        margin: 0 12.5px;

        picture {
            grid-column: 1;
            grid-row: 1;
            margin: 0 auto;
            display: flex;
        }

        .customer-info {
            grid-column: 2;
            grid-row: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            span {
                display: block;
                font-family: @font-light;
                font-size: 10px;
                line-height: 12px;
            }
        }

        .customer-info-h2 {
            font-size: 26px;
            line-height: 31px;
            font-family: @font-regular;
        }

        .customer-info-p {
            font-size: 18px;
            line-height: 22px;
            font-family: @font-regular;
        }

        .service {}

        .from {}

        .where {}

        .feedback-text {
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 3;
            font-size: 12px;
            line-height: 14px;
        }


    }

    .content-column-item2 {
        display: none;
    }
}

.our-advantage {
    .our-advantage-wrap {
        background: #F7F7F7;
        padding-bottom: 23px;
        padding-top: 23px;
    }

    .our-advantage-h2 {
        font-size: 28px;
        margin-bottom: 13px;
        color: @gray;
    }

    .our-advantage-content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 20px;


    }

    .our-advantage-item-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .our-advantage-item {
        background: #FFFFFF;
        /*background-image: url(../img/Layer%203.1.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;*/
        width: 86px;
        height: 86px;
        border-radius: 50%;
        .center-flex();
        margin-bottom: 13px;
        max-width: 160px;
        max-height: 160px;
        font-size: 50px;
        color: @orange;


    }

    img {}

    .our-advantage-item-p {
        font-size: 10px;
        text-align: center;
        padding: 0 3px;
    }
}

.gallery {
    .gallery-wrap {
        padding-bottom: 21px;
        padding-top: 21px;

        .gallery-title {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .gallery-h1 {
                color: gray;
            }

            a {
                font-family: @font-semibold;
                color: @orange;

            }
        }




    }
}


.prices {
    .prices-wrap {
        padding-bottom: 21px;
        padding-top: 21px;
        background-color: @light-grey;

        h2 {
            color: @gray;
        }

        .prices-table-header {
            .center-flex();

            :nth-child(odd) {
                border-top-left-radius: 30px;

            }

            :nth-child(even) {
                border-bottom-right-radius: 30px;

            }

            h3 {
                min-height: fit-content;
                padding-top: 5px;
                padding-bottom: 5px;
                text-align: center;
                width: 50%;
                color: white;
                background-color: @orange;

            }
        }

        .prices-item {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            min-height: fit-content;
            font-size: 20px;
            height: 40px;

            &:nth-child(odd) {

                background-color: rgba(128, 128, 128, 0.2);
                height: 70px;
                border-bottom-left-radius: 30px;
                border-top-right-radius: 30px;


            }

            &:nth-child(even) {
                background-color: white;
                border-bottom-right-radius: 30px;
                border-top-left-radius: 30px;

            }

            &:last-child {
                border-bottom-right-radius: 30px;

            }


        }

        .price-category {


            display: flex;
            flex: 1.5;
            justify-content: center;

        }

        .price-value {

            flex: 1;
            display: flex;
            justify-content: center;

            p {
                font-family: @font-semibold;

                text-align: center;

                &:last-child {}
            }
        }

        .fa-ruble-sign {
            font-size: 16px;
        }

    }
}



.doubt {
    .doubt-wrap {
        padding-top: 25px;
        padding-bottom: 15px;
        display: flex;
        flex-direction: column;
        background-color: @light-grey;
    }

    .doubt-h1 {
        font-size: 28px;
        margin-bottom: 20px;
        color: @gray;
    }

    .doubt-details {
        width: 100%;
        margin-bottom: 10px;


        &[open] {
            background-color: @grey;
            border-radius: 32px;

            .doubt-summary {
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;

                &::after {
                    content: "\f077";
                }
            }

        }

        .doubt-summary {
            position: relative;
            border-radius: 32px;
            background-color: white;
            min-height: 80px;
            display: flex;
            align-items: center;

            &::after {
                content: '\f078';
                font-family: "Font Awesome 5 Free";
                position: absolute;
                top: 33px;
                right: 25px;
                color: @orange;
                font-weight: 900;
                font-weight: 900;

            }

        }

        .doubt-summary[open] {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;

            &::after {
                content: "\f077";
            }

        }

        .doubt-summary-p {
            font-family: @font-regular;
            font-size: 14px;
            line-height: 17px;
            padding: 10px 48px 10px 24px;
        }

        .doubt-details-p {
            font-size: 14px;
            line-height: 17px;
            padding: 20px 25px;
        }
    }
}






.contacts {
    .contacts-wrap {
        display: flex;
        padding-bottom: 21px;
        padding-top: 21px;
        flex-direction: column;
    }

    h2 {
        color: @orange;
        margin-bottom: 10px;
    }

    .contacts-column-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;


        .contacts-column {
            display: flex;
            flex-direction: column;
            color: @gray;
            align-items: center;


            h3 {
                margin-bottom: 10px;
            }

            p {
                padding: 5px 0;
                text-align: justify;

                a {
                    color: @gray;
                    opacity: 0.7;

                    &:hover {
                        opacity: 1;

                    }
                }
            }

            .contacts-social {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #ffffff;
                    background: #e95110;
                    border-radius: 50%;
                    min-width: 38px;
                    min-height: 38px;
                    opacity: 0.7;
                    transition: 0.4s;

                    &:hover {
                        opacity: 1;

                    }
                }
            }
        }
    }

    .partners-wrap {
        padding-bottom: 5px;
        padding-top: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;



        img {
            width: 70px;
            opacity: 0.7;
            transition: 0.4s;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.footer {
    .faq-wrap {
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: @grey;
        display: flex;
        flex-direction: column;
        position: relative;

    }

    .faq-h2 {
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 10px;


    }

    .faq-form-wrap {
        p {
            color: gray;
            text-align: center;
            margin: 5px auto;
        }

        display: flex;
        flex: 2;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }







    #personal-data-footer {
        width: 10px;
        height: 10px;
    }

    .nav-footer {
        margin-bottom: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #C4C4C4;
        border-top: 1px solid #C4C4C4;
        margin-bottom: 18px;
        margin-top: 13px;

        a {

            h2 {
                color: @orange;
            }
        }
    }

    .logo {
        margin-bottom: 15px;
        margin-top: 15px;

        &:hover {}
    }

    img {}

    .nav-menu {}

    .nav-menu-drop {
        span {}

        form {}

        label {}
    }

    .drop-down {}

    .drop-down-li {}

    .drop-down-link {
        &:hover {}
    }

    #tel {}

    #callback {}

    #personaldata {}

    .social-media {
        a {
            &:hover {}

        }
    }

    .copy {
        display: flex;
        justify-content: space-between;
        font-size: 10px;

        .social-media {
            display: none;

        }

        .design-p {
            a {
                color: gray;
                opacity: 0.8;

                &:hover {
                    opacity: 1;

                }

                &:active {
                    color: @orange;

                }
            }
        }
    }

    p {}
}

.faq-submit-btn {
    font-size: 16px;
    .center-flex();
    text-transform: uppercase;
    background: @blue;
    border-radius: 30px;
    color: #FFFFFF;
    padding: 14px;
    margin-bottom: 10px;
    width: 280px;

    &:hover {
        box-shadow: 0px 4px 15px 0px rgba(27, 170, 235, 0.45);


    }

}

.faq-input {
    font-size: 14px;
    color: #363636;
    display: flex;
    align-items: center;
    background-color: inherit;
    border: 1px solid #363636;
    border-radius: 30px;
    padding: 14px 24px;
    margin-bottom: 13px;
    width: 280px;
}

.hidden {
    opacity: 0;
}

.invisible {
    visibility: hidden;
    opacity: 0;


}



//gallery
.pictures {
    .column {
        -ms-flex: 25%;
        /* IE10 */
        flex: 25%;
        padding: 0 4px;
        display: flex;
        flex-wrap: wrap;

        picture {
            display: flex;
            flex-basis: 0.25;
            margin-top: 8px;
            vertical-align: middle;

            &:hover {
                box-shadow: 0px 4px 15px 0px @gray;
            }


            img {
                width: 100%;

                &:hover {
                    box-shadow: 0px 4px 15px 0px @gray;
                }

            }
        }

    }
}


@import "media.less";
@import "carousel.css";